.wrap{
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    border-radius: 25px;
    padding: 10px;
    background-color: aliceblue;
}
.formContent, .Column{
    margin-top: 40px;
}
.form-reserva{
    border: 2px solid black;
    padding: 35px;
    border-radius: 30px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
}
