.productos-contenedor{
    display: flex;
    border-radius: 60px;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top:  4rem;
}

.btnMenu{
    border-radius: 50px;
    background: rgb(241, 138, 28);
    padding: 14px 40px;
    color:  white;
    font-size:25px;
    cursor: pointer;
    border: 0;
    display: flex;
    justify-content: center;

}

.h1Menu{
    
    display: flex;
    color: orange;
    font-size: 3em;
    position: absolute;
    left: 35%;
        
    }
