.form-contenedor{
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.form-reserva{
    border: 2px solid rgb(175, 24, 24);
    padding: 25px;
    border-radius: 30px;
    background-color: aliceblue;
}